.example::after {
  content: '';
  display: table;
  clear: both; }

.masthead h1, .masthead h2, .btn {
  font-family: 'Lato', 'HelveticaNeue-UltraLight', sans-serif;
  font-weight: 100; }

body {
  font-family: 'Lato', 'HelveticaNeue-Regular', sans-serif;
  font-weight: 400; }

h1, h2, h3 {
  font-family: 'Lato', 'HelveticaNeue-Bold', sans-serif;
  font-weight: 900; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 112.5%;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  text-transform: uppercase; }

a {
  color: #32c1f6;
  transition: color 0.25s ease; }
  a:hover {
    color: #088aba; }

p {
  max-width: 480px;
  max-width: 40rem; }

::selection {
  background-color: #32c1f6;
  color: white; }

.bucket {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  max-width: 60rem; }

.masthead {
  background: #32c1f6;
  color: white;
  padding: 1em 0; }
  .masthead a {
    color: white; }
  .masthead h1 {
    margin: 0;
    font-size: 56px;
    font-size: 3.5rem;
    line-height: 1; }
  .masthead h2 {
    margin-top: 0;
    font-size: 16px;
    font-size: 1.25rem;
    text-transform: none; }

.masthead__copy {
  display: inline-block;
  vertical-align: middle; }

.masthead__logo {
  position: relative;
  display: inline-block;
  height: 90px;
  width: 90px;
  margin-right: 1em;
  vertical-align: middle;
  border-radius: 45px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }

.masthead__btn {
  position: absolute;
  bottom: 0;
  right: 0; }

.masthead__bucket {
  position: relative; }

.example {
  position: relative;
  margin: 1em 0; }
  .example > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px; }

.example__map {
  padding-right: 2em;
  width: 40%; }

.example__code {
  width: 60%; }
  .example__code > * {
    height: 100%; }

.map {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  position: relative; }

.footer {
  border-top: 1px solid #efefef;
  padding: 2em 0;
  text-align: center; }

.btn {
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0.5em;
  transition: border 0.25s ease; }
  .btn:hover {
    border-color: white; }

.btn-small {
  font-size: 16px;
  font-size: 1rem; }
